div.navbar
    div.navbar-inner
        a.navbar-brand BlogR
        ul(class='nav navbar-nav')
            li
                a(href='#{node.posts.index}') Posts
            li
                a(href='#{node.home.about}') About
            li
                a(href='#{node.posts.create}') Create a Post