doctype 5
html
    head
        title Problem
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css',media="screen")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.container
            div.row
                div.col-lg-12
                    h1 Opps bit of an issue
                    p Sorry there was an error