body {
    padding-top: 50px;
}

#main-container{
    padding: 30px 5px;
}


#posts{
    list-style: none;
    padding-left: 0px;
}
#posts > li{
    padding-top: 5px;
}


.inline-input{
    width:150px;
}
.inline-select{
    width:150px;
    margin-left: 4px;
}

dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
}
dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}
dl.inline dd + dd {
    float: none
}
dl.inline dt {
    font-weight: bold
}