body {
    padding-top: 50px;
}

#main-container{
    padding: 30px 5px;
}


#posts{
    list-style: none;
    padding-left: 0px;
}
#posts > li{
    padding-top: 5px;
}


.inline-input{
    width:150px;
}
.inline-select{
    width:150px;
    margin-left: 4px;
}