div(class='container', ng-controller='PostsController')
    div.row
        div.col-lg-9
            ul(id="posts")
                li(ng-repeat="post in posts | filter:query | orderBy: orderProp")
                    <a href='/posts/{{post.id}}'> {{post.title}} <small class="text-muted"> By {{post.author}} </small></a>
        div.col-lg-3
            form(role="form", class="form")
                div.form-group
                    input(type="text", id="query", ng-model="query", class="form-control", placeholder="Filter Posts")
                div.form-group
                    select(ng-model="orderProp", class="form-control")
                        option(value="published") Newest
                        option(value="title") Alphabetical