extends ../layout
block content
    div.container
    div.row
        div.col-lg-12
            form(id='create post', method='post',action='#{node.posts.create}')
                fieldset
                    legend Create Post
                    +validationSummary('Creating Post',post);
                    include createOrEdit
                    input(type='submit', value='Create', id='create', class='btn btn-primary')