extends ../layout

block content

    div.container
        div.row
            div.col-lg-3
                table.table
                    thead
                        tr
                            th Recent Posts
                    each post in posts
                        tr
                            td
                                +postLink(post)
            div.col-lg-9
                block postContent