extends ../layout

block content

    div.container-fluid
        div.row-fluid
            div.span3
                table.table
                    thead
                        tr
                            th Recent Posts
                    each post in posts
                        tr
                            td
                                +postLink(post)
            div.span9
                block postContent